.container-max{
  display: inline-block;
  width: 100%;
}
.w-20{
  width: 20%;
  display: inline-block;
  float: left;
}
.w-80 {
  width: 80%;
  display: inline-block;
}
.emerald-bg {
  background-color: #03a9f4 !important;
}
@import url(//fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #F8F8F8;
  color: #333;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media ( max-width : 419px) {
  html, body {
    font-size: 12px;
  }
}
body {
  color: #212121;
  background-size: 220px 220px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.no-border {
  border: 0;
}
/**********************/
/****   Headers    ****/
/**********************/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  clear: both;
  color: #1abc9c;
  margin: 0 0 20px 0;
  padding-left: 14px;
  font-size: 2em;
}
h2 {
  clear: both;
  font-size: 1.8em;
  margin-bottom: 10px;
  padding: 10px 0 10px 30px;
}

h3 {
  border-bottom: 2px solid #b0bec5;
  padding-left: 5px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 1.4em;
}

h3 > span {
  border-bottom: 2px solid #b0bec5;
  display: inline-block;
  padding: 0 5px 5px;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

a {
  color: #03a9f4;
  outline: none !important;
}

a:hover, a:focus {
  color: #03a9f4;
}
/**********************/
/****  Structure   ****/
/**********************/

.container {
  padding-left: 8px;
  padding-right: 8px;
}

@media ( max-width : 767px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

@media ( max-width : 767px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
  padding-left: 8px;
  padding-right: 8px;
}

@media ( max-width : 767px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
  .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
  .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
  .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
  .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12,
  .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
}

@media ( max-width : 419px) {
  h1 {
    padding-left: 5px;
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  .hidden-xxs {
    display: none !important;
  }
  tr.hidden-xxs {
    display: table-row !important;
  }
  th.hidden-xxs, td.hidden-xxs {
    display: table-cell !important;
  }
  .visible-xxs {
    display: block !important;
  }
  tr.visible-xxs {
    display: none !important;
  }
  th.visible-xxs, td.visible-xxs {
    display: none !important;
  }
  .breadcrumb {
    padding-left: 6px;
  }
}

/*************************/
/*         Buttons       */
/*************************/

.btn {
  border: none;
  padding: 6px 12px;
  border-bottom: 2px solid;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s
  ease-in-out 0s;
  outline: none;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.btn-group-xs>.btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-group-sm>.btn, .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-group-xs>.btn-lg, .btn-lg {
  padding: 15px 16px;
}

.btn-square {
  border-radius: 0;
  border: 0;
  outline: 0;
}

.btn-green {
  background: #00cc52;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  background: #43A047;
  color: #FFF !important;
  border-bottom-color: #000;
}

.btn-orange {
  background: #FFA500;
  border-bottom-color: #FFB122;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
  background: #FFB122;
  color: #FFF !important;
  border-bottom-color: #BD9804;
}

.btn-default {
  background-color: #90a4ae;
  border-color: #607d8b;
  color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #607d8b;
  border-color: #5c6667;
}

.btn-default .caret {
  border-top-color: #FFFFFF;
}

.btn-info {
  background-color: #01b9fe;
  border-color: #0298d1;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #0298d1;
  border-color: #0178a5;
}

.btn-link {
  border: none;
}

.btn-primary {
  background-color: #1abc9c;
  border-color: #16a085;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #2980b9;
  border-color: #1c5c87;
}

.btn-success {
  background-color: #8bc34a;
  border-color: #689f38;
}

.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #689f38;
}

.btn-danger {
  background-color: #e84e40;
  border-color: #dd191d;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #dd191d;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffa000;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active,
.btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #e0b50a;
  border-color: #bd9804;
}

.btn-facebook {
  background-color: #3b5998 !important;
  border-color: #2f477b !important;
}

.btn-facebook:hover {
  background-color: #2f477b !important;
  border-color: #263963 !important;
}

.btn-twitter {
  background-color: #00aced !important;
  border-color: #0098d1 !important;
}

.btn-twitter:hover {
  background-color: #0098d1 !important;
  border-color: #0283b4 !important;
}



.ticker .tiny {
  font-size: 0.6em;
  margin: 0;
}
.ticker .flex-row + .flex-row {
  margin-top: 2px
}
/**********************/
/*****   Colors   *****/
/**********************/

.turquoise-bg {
  background-color: #1e1e4e !important;
}

.emerald-bg {
  background-color: #03a9f4 !important;
}

.red-bg {
  background-color: #e84e40 !important;
}

.yellow-bg {
  background-color: #ffc107 !important;
}

.green-bg {
  background-color: #8bc34a !important;
}

.purple-bg {
  background-color: #9c27b0 !important;
}

.gray-bg {
  background-color: rgba(144, 164, 174, 0.51) !important;;
}

.white-bg {
  background-color: #ffffff !important;
}

.emerald {
  color: #03a9f4 !important;
}

.red {
  color: #e84e40 !important;
}

.yellow {
  color: #ffc107 !important;
}

.green {
  color: #8bc34a !important;
}

.purple {
  color: #9c27b0 !important;
}

.gray {
  color: #90a4ae !important;
}

.white {
  color: #FFFFFF !important;
}
.blue {
  color: #337ab7 !important;
}
.status-green {
  color: #005826;
}

.status-red {
  color: #9e0b0f;
}

.txt-white {
  color: #fff !important;
}

.txt-white-hover:hover {
  color: #fff !important;
}


.lh-2 {
  line-height: 2;
}

.text-twitter {
  color: #00aced;
}

.bg-twitter {
  background-color: #00aced;
}

.text-facebook {
  color: #3b5998;
}

.bg-facebook {
  background-color: #3b5998;
}
/*
googleplus: #dd4b39;
pinterest: #cb2027;
linkedin: #007bb6;
youtube: #bb0000;
vimeo: #aad450;
tumblr: #32506d;
instagram: #517fa4;
flickr: #ff0084;
dribbble: #ea4c89;
quora: #a82400;
foursquare: #0072b1;
forrst: #5B9A68;
vk: #45668e;
wordpress: #21759b;
stumbleupon: #EB4823;
yahoo: #7B0099;
blogger: #fb8f3d;
soundcloud: #ff3a00;
*/


.login-page #login {
  margin: auto;
}

.login-page .form input {
  font-family: "Roboto", sans-serif;
  /* background: #f2f2f2; */
  border-width: 1;
  padding: 15px;
  height: auto;
  border-radius: 0;
}

.login-page .form .small {
  color: #b3b3b3;
  font-size: 12px;
  margin-top: 12px;
}

.login-page .form .small a {
  color: #4CAF50;
  text-decoration: none;
}

.login-page .form {
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
  rgba(0, 0, 0, 0.24);
}

.login-page .form>form {
  transition: 0.4s all ease;
  opacity: 1;
  margin: 0;
}

.login-page .form.login .forgot-password-form {
  display: none;
  opacity: 0;
}

.login-page .form.forgot .login-form {
  display: none;
  opacity: 0;
}

.login-page .form .wrap {
  width: 50%;
  float: left;
  /* padding: 2px; */
  margin-bottom: 15px;
}

.login-page .form .wrap+.wrap input[type="radio"]+label {
  border-left: 0;
}

.login-page .form .wrap input[type="radio"]+label {
  display: block;
  margin: 0;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid #ededed;
  /* border-radius: 4px; */
  transition: 0.2s all ease-in;
}

.login-page .form .wrap input[type="radio"] {
  display: none;
}

.login-page .form .wrap input[type="radio"]:checked+label {
  background: #4caf50;
  color: #EEE;
  font-weight: bold;
}

.login-page .nav.tab-switcher {
  display: inline-block;
  border: 0;
  margin-top: 8%;
}

.login-page .tab-switcher>li {
  float: none;
  display: inline-block;
}

.login-page .tab-switcher>li a {
  border: 0;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6abce7;
}

.login-page .tab-switcher>li.active a, .login-page .tab-switcher>li.active a:hover,
.login-page .tab-switcher>li:hover a, .login-page .tab-switcher>li:hover a:focus,
.login-page .tab-switcher>li.active a:focus, .login-page .tab-switcher>li a:hover
{
  background: transparent;
  border: 0;
}

.login-page .tab-switcher>li.active a, .login-page .tab-switcher>li.active a:focus,
.login-page .tab-switcher>li.active a:hover {
  font-weight: 600;
  color: #6ab1dd;
}

.login-page .tab-box {
  max-width: 540px;
  margin: auto;
}

.login-page .tab-content .tab-pane {
  display: none;
}

.login-page .tab-content .tab-pane.active {
  display: block;
}
.password-reset h2 {
  color: #25254b;
  padding-left: 0;
}

.password-reset .form {
  box-shadow: 0px 0px 5px #000;
  background-color: #FFF;
  padding: 80px 50px;
}

.password-reset .form form {
  margin: 0;
  text-align: center;
}

.new-password h2 {
  color: #25254b;
  padding-left: 0;
}

.new-password .form {
  box-shadow: 0px 0px 5px #000;
  background-color: #FFF;
  padding: 80px 50px;
}

.new-password .form form {
  margin: 0;
  text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number], input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
}

.text-xs {
  font-size: 0.8em;
}

.lh-30 {
  line-height: 30px;
}

.wrap-text {
  word-wrap: break-word;
  word-break: break-all;
}
.text-nowrap {
  white-space: nowrap;
}
.pad-t-0 {
  padding-top: 0;
}
.pad-l-md {
  padding-left: 10px;
}
.pad-t-md {
  padding-top: 10px;
}
.pad-l-sm {
  padding-left: 6px;
}
.pad-r-md {
  padding-right: 10px;
}
.pad-t-lg {
  padding-top: 20px;
}
.pad-r-lg {
  padding-right: 20px;
}
.pad-b-lg {
  padding-bottom: 20px;
}
.pad-l-lg {
  padding-left: 20px;
}
.mrg-b-xs {
  margin-bottom: 3px;
}

.mrg-b-sm {
  margin-bottom: 6px;
}

.mrg-b-md {
  margin-bottom: 10px;
}

.mrg-b-lg {
  margin-bottom: 20px;
}

.mrg-t-0 {
  margin-top: 0px !important;
}
.mrg-b-0 {
  margin-bottom: 0px !important;
}

.mrg-t-xs {
  margin-top: 3px;
}

.mrg-t-sm {
  margin-top: 6px;
}

.mrg-t-md {
  margin-top: 10px;
}

.mrg-t-lg {
  margin-top: 20px;
}

.mrg-r-xs {
  margin-right: 3px;
}

.mrg-r-sm {
  margin-right: 6px;
}

.mrg-r-md {
  margin-right: 10px;
}

.mrg-r-lg {
  margin-right: 20px;
}

.mrg-l-xs {
  margin-left: 3px;
}

.mrg-l-sm {
  margin-left: 6px;
}

.mrg-l-md {
  margin-left: 10px;
}

.mrg-l-lg {
  margin-left: 20px;
}


.icon-box {
  margin-top: 5px;
}

.icon-box .btn {
  border: 2px solid #e1e1e1;
  margin-left: 3px;
  margin-right: 0;
}

.icon-box .btn:hover {
  background-color: #eee;
  color: #03a9f4;
}


.label {
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 0.875em;
  font-weight: 600;
}

.label-default, .fc-event.label-default {
  background-color: #90a4ae;
}

.label-primary, .fc-event.label-primary {
  background-color: #03a9f4;
}

.label-success, .fc-event.label-success {
  background-color: #8bc34a;
}

.label-info, .fc-event.label-info {
  background-color: #9c27b0;
}

.label-warning, .fc-event.label-warning {
  background-color: #ffc107;
}

.label-danger, .fc-event.label-danger {
  background-color: #e84e40;
}

.label.label-large {
  font-size: 1em;
  padding: 0.4em 0.8em 0.5em;
}

.label.label-circle {
  border-radius: 50%;
  background-clip: padding-box;
  padding: 4px !important;
}
.navbar-toggle {
  border: medium none;
  font-size: 1.4em;
  height: 50px;
  margin: 0;
  text-shadow: none;
  width: 50px;
  z-index: 100;
  border-radius: 0;
  background-clip: padding-box;
}
.navbar-default .navbar-toggle .icon-bar {
  background: none repeat scroll 0 0 white;
}
.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-nav {
  margin: 0 0 0 10px;
}

.navbar-nav>li>a {
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 24px;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 3px;
  background-clip: padding-box;
  min-width: 223px;
}

.dropdown-menu>li>a {
  color: #707070;
  font-size: 0.875em;
  line-height: 1.7;
  padding-left: 35px;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s
  ease-in-out 0s;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #f6f6f6;
  color: #707070;
}

.dropdown-menu>li>a>i {
  position: absolute;
  margin-left: -18px;
  margin-top: 4px;
}

.nav-pills>li {
  float: none;
}

.nav-pills>li>a {
  border-radius: 0;
  background-clip: padding-box;
}

.navbar>.container .navbar-brand {
  background: #34495e;
  color: #fff;
  font-family: 'Titillium Web', Geneva, sans-serif;
  font-weight: 700;
  margin-left: -8px;
  padding: 10px 15px;
}

@media ( max-width : 991px) {
  .navbar>.container .navbar-brand {
    background: transparent;
    color: #262626;
  }
}

@media ( max-width : 767px) {
  .navbar>.container .navbar-brand {
    padding-top: 12px;
    padding-top: 12.5px;
  }
}
.alert {
  border-radius: 0;
  background-clip: padding-box;
  border-image: none;
  border-style: none;
  border-width: 0;
}

.alert-success {
  border-color: #689f38;
  color: #689f38;
  max-height: 50px;
}

.alert-warning {
  border-color: #ffa000;
  color: #ffa000;
}

.alert-danger {
  border-color: #dd191d;
  color: #dd191d;
}

.alert-info {
  border-color: #2980b9;
  color: #2980b9;
}

.alert-info .alert-link {
  color: #2980b9;
}

.pagination {
  margin: 5px 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 3px;
  background-clip: padding-box;
}

.pagination>li>a, .pagination>li>span, .pagination>li>a:hover,
.pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus,
.pagination>li>a:active, .pagination>li>span:active {
  color: #03a9f4;
  border-width: 2px;
  margin-left: -2px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
.pagination>.active>span:hover, .pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.pager li>a, .pager li>span {
  border-width: 2px;
}

.list-group-item {
  border-width: 2px;
  margin-bottom: -2px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus
{
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.badge.badge-danger {
  background-color: #e84e40;
}

.badge.badge-success {
  background-color: #8bc34a;
}

.badge.badge-warning {
  background-color: #ffc107;
}

.badge.badge-primary {
  background-color: #03a9f4;
}

.badge.badge-info {
  background-color: #9c27b0;
}

.nav-tabs {
  background: #e7ebee;
  border-color: transparent;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
}

.nav-tabs>li>a {
  border-radius: 0;
  background-clip: padding-box;
  font-size: 1.125em;
  font-weight: 300;
  outline: none;
  color: #555;
  margin-right: 3px;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  border-color: transparent;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  color: #555;
  border-bottom: 0;
  background: rgba(219, 221, 223, 0.46);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  border-left: 0;
  border-top: 2px solid #03a9f4;
  border-right: 0;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  border-color: #e7ebee;
}

.nav .caret {
  border-bottom-color: #03a9f4;
  border-top-color: #03a9f4;
}
.tabs-wrapper.tabs-no-header .tab-content {
  padding: 0 20px 20px;
}

.panel-default>.panel-heading {
  background-color: #03a9f4;
  border-color: #03a9f4;
  color: #FFFFFF;
  border-radius: 0;
  background-clip: padding-box;
}

.panel-default>.panel-heading a:focus {
  color: #fff;
}

.panel-group .panel {
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
}

.panel-collapse {
  border: 2px solid #e1e1e1;
  border-top: 0;
}

.accordion .panel-title>a {
  display: block;
  position: relative;
  outline: none;
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 15px;
}

.accordion .panel-title>a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.accordion .panel-title>a:after {
  content: "\f068";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-top: -5px;
  font-size: 0.75em;
  position: absolute;
  right: 0;
  top: 50%;
}

.accordion .panel-title>a.accordion-toggle.collapsed:after {
  content: "\f067";
}

.accordion .panel-title>a.accordion-toggle>i {
  width: 24px;
  text-align: center;
  padding-right: 6px;
}

.progress {
  background-color: #eee;
  border-radius: 0;
  background-clip: padding-box;
  height: 8px;
  margin-bottom: 12px;
  box-shadow: none;
}

.progress-bar {
  background-color: #03a9f4;
  box-shadow: none;
}

.progress-bar-success {
  background-color: #8bc34a;
}

.progress-bar-info {
  background-color: #9c27b0;
}

.progress-bar-warning {
  background-color: #ffc107;
}

.progress-bar-danger {
  background-color: #e84e40;
}

.progress.progress-2x {
  height: 12px;
}

.progress.progress-3x {
  height: 16px;
}

.progress.progress-4x {
  height: 20px;
}

.popover-content {
  font-size: 0.875em;
}

.modal-header {
  border-width: 2px;
}

.modal-content {
  border-radius: 0;
  background-clip: padding-box;
}

.modal-footer {
  border-width: 2px;
}

blockquote, blockquote.pull-right {
  border-color: #03a9f4;
  padding: 10px 20px 10px 40px;
}

blockquote.pull-right {
  padding-left: 20px;
  padding-right: 40px;
}

blockquote p {
  font-style: italic;
}

blockquote:before {
  content: "\f10d";
  color: #b0bec5;
  display: inline;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  height: auto;
  line-height: normal;
  margin-left: -28px;
  margin-top: 0;
  position: absolute;
  width: auto;
}

blockquote.pull-right:before {
  margin-left: 0;
  right: 50px;
}

.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.breadcrumb>li {
  text-transform: uppercase;
  color: #616161;
  margin-left: 8px;
  font-size: 0.875em;
}

.breadcrumb>li span {
  padding-left: 8px;
}

.breadcrumb>li a {
  color: #616161;
}

.breadcrumb>li+li:before {
  color: #616161;
  font-family: FontAwesome;
  content: "\f105";
}

.breadcrumb>.active {
  font-weight: 600;
  text-transform: none;
  color: #616161;
}

.breadcrumb>li:first-child {
  margin-left: 0;
}

.open>.dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  opacity: 0;
  transform-origin: top;
  animation-fill-mode: forwards;
  transform: scale(1, 0);
  transition: all 0.14s linear;
  display: block;
  visibility: hidden;
}

.datepicker.dropdown-menu, .daterangepicker.dropdown-menu,
.bootstrap-timepicker-widget.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: none;
  display: none;
}

.bootstrap-timepicker-widget.dropdown-menu {
  display: none;
}

.bootstrap-timepicker-widget.dropdown-menu.open {
  display: block;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #f8f8f8;
}

.table thead>tr>th {
  border-bottom: 2px solid #e7ebee;
  text-transform: uppercase;
  font-size: 0.875em;
  line-height: 2.0;
}

@media ( max-width : 767px) {
  .table thead>tr>th {
    font-size: 0.775em;
  }
  .table thead>tr>th .small{
    font-size: 0.6em;
  }

  .table thead>tr>th .small:before {
    content: '';
    display:block;
  }
}


.table thead>tr>th>a span {
  color: #212121;
}

.table tbody>tr>td {
  font-size: 0.875em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;
  padding: 12px 8px;
}

.table tbody>tr>td:first-child {
  xfont-size: 1.125em;
  xfont-weight: 300;
}

.table tbody>tr td .call-type {
  display: block;
  font-size: 0.75em;
  text-align: center;
}

.table tbody>tr td .first-line {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.125em;
}

.table tbody>tr td .first-line span {
  font-size: 0.875em;
  color: #969696;
  font-weight: 300;
}

.table tbody>tr td .second-line {
  font-size: 0.875em;
  line-height: 1.2;
}

.table tbody>tr.table-line-fb>td {
  background-color: #9daccb;
  color: #262525;
}

.table tbody>tr.table-line-twitter>td {
  background-color: #9fccff;
  color: #262525;
}

.table tbody>tr.table-line-plus>td {
  background-color: #eea59c;
  color: #262525;
}

.table a.table-link {
  margin: 0 5px;
  font-size: 1.125em;
}

.table a.table-link:hover {
  text-decoration: none;
  color: #2980b9;
}

.table a.table-link.danger {
  color: #e84e40;
}

.table a.table-link.danger:hover {
  color: #dd191d;
}

.table.table-condensed tbody>tr>td {
  padding: 8px 5px;
}

.dataTable thead th:hover {
  color: #03a9f4;
}

.table thead>tr>th>a span:after, .dataTable .sorting:after, .dataTable .sorting_asc:after,
.dataTable .sorting_desc:after {
  xcontent: "\f0dc";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-left: 5px;
  font-size: 0.75em;
}

.table thead>tr>th>a:hover {
  text-decoration: none;
}

.table thead>tr>th>a.asc span:after, .dataTable .sorting_desc:after {
  xcontent: "\f0dd";
}

.table thead>tr>th>a.desc span:after, .dataTable .sorting_asc:after {
  xcontent: "\f0de";
}

div.dataTables_filter input {
  border-radius: 3px;
  background-clip: padding-box;
  border-color: #e7ebee;
  border-width: 2px;
  box-shadow: none;
  font-size: 13px;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.table thead>tr>th>a:hover span {
  text-decoration: none;
  color: #03a9f4;
  border-color: #03a9f4;
}

.table.table-hover tbody>tr>td {
  transition: background-color 0.15s ease-in-out 0s;
}

.table-products tbody>tr>td {
  background: none;
  border: none;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.15s ease-in-out 0s;
  position: relative;
}

.table-products tbody>tr:hover>td {
  text-decoration: none;
  background-color: #f6f6f6;
}

.table-products .name {
  display: block;
  font-weight: 600;
  padding-bottom: 7px;
}

.table-products .price {
  display: block;
  text-decoration: none;
  width: 50%;
  float: left;
  font-size: 0.875em;
}

.table-products .price>i {
  color: #8bc34a;
}

.table-products .warranty {
  display: block;
  text-decoration: none;
  width: 50%;
  float: left;
  font-size: 0.875em;
}

.table-products .warranty>i {
  color: #ffc107;
}

.table-stats .status-social-icon {
  font-size: 1.9em;
  vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon {
  color: #556484;
}

.table-stats .table-line-twitter .status-social-icon {
  color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon {
  color: #a75d54;
}

label {
  font-weight: 400;
  font-size: 0.875em;
}

.form-control {
  border-radius: 3px;
  background-clip: padding-box;
  border-color: #e7ebee;
  border-width: 2px;
  box-shadow: none;
  font-size: 13px;
}

.form-control:focus {
  border-color: rgba(52, 151, 219, 0.6);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
  rgba(52, 152, 219, 0.6);
}

.form-inline-box {
  background: none repeat scroll 0 0 #F6F6F6;
  border: 2px solid #e7ebee;
  padding: 7px;
}

.radio {
  padding-left: 2px;
}

.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 5px;
}

input[type="radio"] {
  line-height: normal;
  box-sizing: border-box;
}

.radio input[type=radio], .radio-inline input[type=radio] {
  float: left;
  margin-left: -20px;
}

.radio input[type=radio] {
  display: none;
}

.radio label:before {
  background: none repeat scroll 0 0 #ffffff;
  border: 2px solid #e7ebee;
  border-radius: 50%;
  background-clip: padding-box;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  width: 20px;
}

.radio label:after {
  background-color: #03a9f4;
  border: 1px solid #03a9f4;
  border-radius: 50%;
  background-clip: padding-box;
  content: "";
  display: inline-block;
  font-size: 13px;
  height: 16px;
  left: 2px;
  position: absolute;
  text-align: center;
  top: 2px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  width: 16px;
}

.radio input[type=radio]:checked+label:before, .radio input[type=radio]:hover+label:before
{
  border-color: #03a9f4;
}

.radio input[type=radio]:checked+label:after {
  line-height: 16px;
  transform: scale(0.63);
  -webkit-transform: scale(0.63);
  -moz-transform: scale(0.63);
  transition: transform 0.1s 0s cubic-bezier(0.4, 0.02, 0.3, 1.2);
}

.has-success .form-control {
  border-color: #8bc34a !important;
}

.has-success .help-block, .has-success .control-label {
  color: #689f38;
}

.has-success .form-control:focus {
  border-color: #689f38;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #689f38;
}

.has-success .input-group-addon {
  color: #8bc34a;
  background-color: #dff0d8;
  border-color: #8bc34a;
}

.has-warning .form-control {
  border-color: #ffc107;
}

.has-warning .help-block, .has-warning .control-label {
  color: #ffa000;
}

.has-warning .form-control:focus {
  border-color: #ffa000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa000;
}

.has-warning .input-group-addon {
  color: #ffc107;
  background-color: #fcf8e3;
  border-color: #ffc107;
}

.has-error .form-control {
  border-color: #e84e40 !important;
}

.has-error .help-block, .has-error .control-label {
  color: #dd191d;
}

.has-error .form-control:focus {
  border-color: #dd191d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dd191d;
}

.has-error .input-group-addon {
  color: #e84e40;
  background-color: #f2dede;
  border-color: #e84e40;
}

.input-group>.form-control, .input-group>.input-group-addon,
.input-group>.input-group-btn>.btn {
  line-height: 1;
}

.input-group>.input-group-btn>.btn {
  border: 0;
  height: 34px;
}

.input-group-addon {
  background: transparent;
  border-color: #e7ebee;
  border-width: 2px;
}

.dropdown-menu {
  border-radius: 3px;
  background-clip: padding-box;
}

.help-block {
  font-size: 0.875em;
}

.checkbox-inline>input {
  margin-top: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
{
  background-color: #03a9f4;
}

.social-box-wrapper {
  box-shadow: 1px 1px 2px 0 #cccccc;
  border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 16px;
  overflow: hidden;
}

.social-box {
  color: #fff;
  padding: 15px;
  font-weight: 300;
  transition: background-color 0.15s ease-in-out 0s;
}

.social-box .social-count {
  float: left;
  display: block;
  font-size: 1.8em;
  font-weight: 400;
}

.social-box .social-action {
  float: left;
  display: block;
  font-size: 1.2em;
  margin-left: 5px;
  margin-top: 9px;
}

.social-box .social-name {
  display: block;
  font-size: 0.875em;
  padding-top: 4px;
}

.social-box>i {
  font-size: 3.4em;
  text-align: right;
  display: block;
}

.social-box.facebook {
  background: #3b5998;
}

.social-box.facebook:hover {
  background-color: #2f477b;
}

.social-box.twitter {
  background: #55acee;
}

.social-box.twitter:hover {
  background-color: #4091ce;
}

.social-box.google {
  background: #dd4b39;
}

.social-box.google:hover {
  background-color: #c43a2a;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: url('/img/loading.gif') no-repeat;
  width: 170px;
  height: 60px;
  background-color: white;
}

.loading-image .info {
  float: right;
  font-size: 25px;
  font-weight: 600;
  margin-top: 15px;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
}

.flex-col+.flex-col {
  padding-left: 8px;
}


@media ( max-width: 991px) {
  .flex-col.flex-col-mobile {
    flex-basis: 100%;
  }

  .flex-col.flex-col-mobile + .flex-col.flex-col-mobile {
    padding-left: 0px;
    margin-top: 10px;
  }
}

.flex-row+.flex-row {
  margin-top: 20px;
}

.active-item {
  font-weight: bold;
}


.modal h2 {
  padding: 0px !important;
}

.modal label {
  font-weight: 600;
  font-size: 1em;
}

a.active:hover {
  background-color: white;
  color: orange;
}

a.disabled:hover {
  background-color: white;
  color: #9E9E9E;
}
@media ( min-width : 768px) {
  .flexrow {
    display: flex;
  }
  .large-text {
    font-weight: 600;
    font-size: 2em;
  }
}

.help-text {
  font-size: 0.8em;
  color: #989898;
  line-height: 1;
}

.dummy {
  display: none;
}
#sidebar-nav .nav>li.nav-header {
  border-top-color: #e7ebee;
  color: #a6a6a6;
}

.nav-tabs {
  background-color: #f9f9f9;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border-top-color: #1e1e4e;
}
.navbar>.container .navbar-brand {
  color: #fff;
}

.navbar-toggle {
  color: #fff;
}

@-webkit-keyframes rotating {
  from { transform:rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-moz-keyframes rotating {
  from { transform:rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-ms-keyframes rotating {
  from { transform:rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-o-keyframes rotating {
  from { transform:rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes rotating {
  from { transform:rotate(0deg); }
  to { transform: rotate(360deg); }
}

.onboardpage + footer#footer-bar {
  margin: 0;
}

.mobile-progress {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

.mobile-progress-indicator {
  position: relative;
  top: 36%;
  font-size: 6em;
  color: #e0e0e0;
  text-align: center;
}

.loading .mobile-progress {
  display: block;
}

.loading {
  overflow: hidden;
}

/* login template */
.login-signup-wrap {
  padding: 15px 10px;
  border: 1px solid #e7ebee;
  border-radius: 4px;
  margin: 0 auto 10px;
  max-width: 320px;
  background: #FFF;
}
.login-signup-container {
  width: 100%;
  margin: auto;
  font-size: 12px;
  max-width: 310px;
}
.login-signup-container.has-cell-number {
  xheight: 370px;
}
.login-signup-container.has-cell-number.login {
  xheight: 300px;
}
.login-signup-wrap h1 {
  color: #000;
  font-weight: 500;
  padding: 0;
  margin-bottom: 15px;
}
.login-signup-wrap h4 {
  color: #000;
  font-weight: 500;
  margin-bottom: 20px;
}
.login-signup-wrap a {
  color: #22b8ff !important;
}
.login-signup-wrap input[type="checkbox"], .login-signup-wrap label, .login-signup-wrap p {
  vertical-align: middle;
  margin: 0;
  font-weight: 500;
}
.login-signup-wrap input[type="checkbox"], .login-signup-wrap label {
  font-size: 1.2em;
  line-height: 30px;
}
.login-signup-wrap p {
  font-size: 1.1em;
}
.login-signup-wrap label + a {
  line-height: 30px;
  vertical-align: middle;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.login-signup-wrap input {
  border-width: 1px;
  border-radius: 0;
}

.login-signup-wrap .login-form, .login-signup-wrap .signup-form {
  width: 100%;
  display: none;
}

.signup.login-signup-container .signup-form { display: block; }
.login.login-signup-container .login-form { display: block; }

.text-input-combo {
  border: 2px solid #e7ebee;
  border-radius: 4px;
  display: block;
}
.text-input-combo .text, .combo-text-size {
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  height: 30px;
  padding: 6px 12px;
  border-radius: 3px;
  background-clip: padding-box;
  border-color: #e7ebee;
  border-width: 0;
  box-shadow: none;
  font-size: 13px;
  padding-right: 0;
  vertical-align: top;
}
.text-input-combo .form-control,
.text-input-combo .form-control:active,
.text-input-combo .form-control:focus {
  border: 0 !important;
  display: inline-block;
  width: 250px;
  padding-left: 0;
  /* outline: none; */
  height: 30px;
  /* box-shadow: none; */
  line-height: 2.5;
  background: #FFF;
}
.text-input-combo.event-url .new-tab-link{
  content: " ";
  background-image: url(../img/newpage-like-icon.png);
  display: block;
  height: 23px;
  width: 22px;
  position: absolute;
  top: 9px;
  right: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.text-input-combo.event-url {
  padding-right: 30px;
  position: relative;
  border-width: 1px;
  height: auto;
  border-radius: 0;
}

.text-input-combo.event-url .text {
  height: inherit;
  padding: 12px 0 12px 5px;
}

.text-input-combo.event-url input.form-control {
  height: inherit;
  padding: 5px 0 5px 0;
}

.text-input-combo.event-url + .help-text {
  padding: 5px 10px;
}
.cte-wrap > *:not(.cte) {
  display: none;
}

.cte .event-url .new-tab-link {
  display: none;
}

.cte .text-input-combo.event-url {
  border-width: 0;
}

.cte .text-input-combo.event-url input {
  border: 2px solid #e7ebee !important;
  height: 34px;
  margin-top: 3px;
  margin-left: 5px;
  padding-left: 5px;
}
.stripe-form .enclosed-input, .stripe-form input, .stripe-form select {
  margin: 0;
  display: inline-block;
  border-width: 1px !important;
  background-clip: padding-box;
  box-shadow: none;
  font-size: 13px;
  height: 34px;
  padding: 7px 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 0px;
  border-color: #eee;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100px;
}
.stripe-form .enclosed-input + input {
  border-left: 0 !important;
  border-top: 1px solid #eee;
}
.stripe-form input + .enclosed-input, .stripe-form select + .enclosed-input {
  border-left: 0 !important;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  border-width: 1px;
  border-color: #eee;
  border-style: solid;
}
.stripe-form .input-group-addon {
  border-width: 1px;
}

.stripe-form input[type=checkbox]{
  height: auto !important;
}
.stripe-form [data-stripe="exp_month"] {
  width: 105px;
}
.stripe-form [data-stripe="exp_year"] {
  width: 80px;
  border-left: 0;
}
.stripe-form [data-stripe="cvc"] {
  width: 90px;
  padding-right: 0px;
}
.stripe-form .has-error select {
  border-color: #e84e40;
}
.stripe-form .has-success select {
  border-color: #8bc34a;
}
.form-control-feedback {
  z-index: 99;
}
.js-notification {
  border: 1px solid #ffc107;
  padding: 10px 10px 10px 44px;
  position: relative;
  font-size: 1.2em
}
.js-notification:before {
  content: " ";
  position: absolute;
  background-color: #ffc107;
  height: 100%;
  width: 33px;
  left: 0;
  top: 0;
}
.js-notification:after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 1.5em;
  position: absolute;
  background-color: #ffc107;
  left: 7px;
  top: 26%;
  color: #FFF;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollingtable{
  margin-bottom:0px !important;
}

.scrollingpage td:not(:first-child),
.scrollingpage th:not(:first-child) {
  text-align: center;
}

.scrollingpage .help-text {
  font-size: 1.5em;
  padding-top: 15px;
  line-height: 1.5;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.intl-tel-input.allow-dropdown .flag-container {
  z-index: 1000
}
.input-group-addon + .intl-tel-input {
  float: left;
  width: 100%;
}
.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
  height: auto;
}
.ui-widget.ui-widget-content.ui-tooltip {
  border-radius: 2px;
  border-width: 0;
  border-color: #dee4e8;
  xbackground-color: #747474;
  font-size: 0.8em;
  xcolor: #FFF;
  -webkit-box-shadow: 1px 1px 5px #737373;
  -moz-box-shadow: 1px 1px 5px #737373;
  -o-box-shadow: 1px 1px 5px #737373;
  box-shadow: 1px 1px 5px #737373;
}

.pointer {
  cursor: hand;
  cursor: pointer;
}
.input-group-addon, .form-control {
  border-radius: 0;
  border-width: 1px;
}
::-ms-clear {
  display: none;
}
