.dummy {
  display: none !important;;
}
body:not (.displayhome ) {
  margin-top: 70px;
  background: repeat scroll 0 0 #fff;
}
/** CSS is Display Pages For the Event **/
.navbar-default {
  background-color: #fff;
  border-color: rgba(34, 34, 34, .05);
  transition: all .35s;
}

.navbar-brand {
  color: #F05F40;
  font-weight: 700;
  text-transform: uppercase;
  /*line-height: 30px;*/
  letter-spacing: 1px;
}

.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover
  {
  color: #eb3812
}

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222;
  text-transform: uppercase
}

.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222;
  /*line-height: 35px;*/
}

.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
  color: #F05F40
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus
  {
  color: #F05F40 !important;
  background-color: transparent
}

.navbar-default .nav>li.active>a:focus:hover, .navbar-default .nav>li.active>a:hover
  {
  background-color: transparent
}

@media ( min-width : 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, .7)
  }
  .navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
    color: #fff
  }
  .navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    color: rgba(255, 255, 255, .7)
  }
  .navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
    color: #fff
  }
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .05)
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px
  }
  .navbar-default.affix .navbar-header .navbar-brand:focus,
  .navbar-default.affix .navbar-header .navbar-brand:hover {
    color: #eb3812
  }
  .navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus {
    color: #222
  }
  .navbar-default.affix .nav>li>a:focus:hover, .navbar-default.affix .nav>li>a:hover {
    color: #F05F40
  }
}
#header-navbar a {
  color: inherit !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
header {
  min-height: 100px;
  max-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  color: #fff;
}

@media ( min-width : 768px) {
  header {
    min-height: 190px;
    max-height: 400px
  }
}

.nav>li>a>i {
  padding-right: 10px;
  margin-top: 4px;
}

/* Tabs panel */
.tabbable-panel {
  padding: 10px;
}

/* Default mode */
.tabbable-line>.nav-tabs {
  border: none;
  margin: 0px;
  background-color: #ffffff !important;
}

.tabbable-line>ul.nav-tabs {
  display: table;
  margin: 0 auto;
}

.tabbable-line>.nav-tabs>li {
  margin-right: 2px;
  font-size: 25px;
}

@media ( max-width : 768px) {
  .tabbable-line>.nav-tabs>li {
    font-size: 15px;
  }
  .nav-tabs>li>a {
    font-size: 1em;
    font-weight: 400;
    color: #000;
  }
  #eventinfo {
    border-right: none !important;
  }
  #mainNav .nav>li {
    float: none;
  }
}

.tabbable-line>.nav-tabs>li>a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line>.nav-tabs>li>a>i {
  color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.tabbable-line>.nav-tabs>li.open>a, .tabbable-line>.nav-tabs>li:hover>a
  {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i, .tabbable-line>.nav-tabs>li:hover>a>i
  {
  color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu, .tabbable-line>.nav-tabs>li:hover .dropdown-menu
  {
  margin-top: 0px;
}

/*.tabbable-line>.nav-tabs>li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}*/

.tabbable-line>.nav-tabs>li>a.active {
  border: 0;
  color: #333333;
}

.tabbable-line>.nav-tabs>li>a.active>i {
  color: #404040;
}

.tabbable-line>.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line>.tab-content {
  padding-bottom: 0;
}

#eventinfo {
  padding: 10px;
  margin-top: 30px;
  border-right: 1px solid #eee;
}

#eventinfo img, .item-canvas img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
    rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.card span.card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 1px;
}

.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: 1;
}

.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  overflow: hidden;
  height: 86px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}
.card.item-card {
    /* height: 580px; */
    padding-bottom: 15px;
}
.card .card-content span.card-title {
  line-height: 48px;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  /*height: 100px;*/
}

.card .card-action .btn {
  margin-bottom: -8px
}

.card .card-action a.actionlinks {
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

@media ( max-width : 321px) {
  .card .card-action a.actionlinks {
    margin-right: 0px;
  }
}

@media ( max-width : 376px) {
  .card .card-action a.actionlinks {
  }
}

@media ( max-width : 424px) {
  .card .card-action a.actionlinks {
    padding-left: 9px;
    padding-right: 9px;
  }
}

.card .card-action a:hover {
  text-decoration: none;
}

.bidinfo {
  background-color: #white;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
}

.badge-primary {
  background-color: #337ab7;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #D3D3D3;
}

.card .card-action span.item-code,
.card .card-action span.item-name,
.card .card-action span.item-bid-price {
  color: #000;
  font-weight: 400;
}
.card .card-action span.buy-now-price {
  color: #FFF;
  margin-right: 0;
}

#eventinfo .project-box .project-box-content {
  padding: 30px 0px 30px 0px !important;
}

#eventinfo .project-box .project-box-content .ticker .tiny {
  font-size: 12px;
}

#eventinfo .ticker .row:first-child {
  font-weight: 600;
  font-size: x-large;
}

#mainNav .profile-dropdown>a>img {
  border-radius: 50%;
  background-clip: padding-box;
  float: left;
  height: 35px;
  margin-right: 5px;
  width: 35px;
  border: 2px solid #fff;
}

#mainNav .profile-dropdown>a {
  line-height: 35px;
}

@media ( min-width : 768px) {
  nav#mainNav {
    background-color: black;
  }
  .displayhome nav#mainNav {
    background-color: transparent;
  }
}

.loginbox {
  padding: 20px;
  margin-top: 60px !important;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  border: solid 1px #cbc9c9;
}

p.terms {
  font-size: 12px;
}

.loginbox label {
  font-weight: 600;
  font-size: 1em;
}

.loginbox label>span {
  font-size: 12px;
}

.loginbox .btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.loginbox h2 {
  padding: 0px 0px 10px 0px;
  margin: 0px;
}

#login .btn {
  width: 100%;
}

#item-section {
  margin-top: 50px;
}

#item-section h1 {
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

#item-section .item-label {
  color: #03a9f4;
  font-weight: 600;
  border: none;
}

#item-section .item-bid-price {
  margin-left: 20px;
  font-size: 30px;
}

#item-section .control-label {
  font-weight: 600;
}

.stickheader {
  margin-top: 120px;
}

#scrolldiv {
  overflow-y: scroll;
  overflow: hidden;
  height: 50%;
  border: 2px solid #e7ebee;
  border-top: none;
}

.scrollingpage table th, .scrollingpage table td {
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  font-weight: bold;
  font-size: 1em!important;
}

#donationfrom .btn-group {
  width: 100%;
}

#donationfrom .btn-group label {
  width: 45%;
  margin: 20px;
  font-size: -webkit-xxx-large;
}

#donationfrom input[name=amount] {
  height: 50px;
}

#donationfrom button[type=submit], #donationfrom a {
  width: 100%;
  background: #FF9800;
  color: white;
  font-size: xx-large;
}

#donationfrom .btn-group label.btn.active {
  background: #4CAF50;
  border: 1px solid;
  color: white;
}

#donationfrom .btn-group label.btn {
  border: 1px solid #4CAF50;
  color: #4CAF50;
}

.navbar.navbar-default.scrolled {
  background: #000 /*rgba(131, 127, 128, 0.88)*/ !important;
}

.item-name-centered {
    text-align: center;
    padding: 10px;
    font-size: large;
    font-weight: 700;
    color: #34495e;
    height: 70px;
    box-shadow: inset 0px 0px 1px 0px #ffffff;
}

.item-row .item-card {
  position: relative;
  min-height: 530px;
}

.item-row .item-card .action-wrap {
  /*position: absolute;
  bottom: 0;
  width: 100%;*/
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
}

.card-image .social-network.social-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin-right: 10px;
}

.card-image .social-network.social-circle li a {
  font-size: inherit;
  height: 30px;
  width: 30px;
  position: initial;
}

.card-image .social-network.social-circle li {
  margin: 0;
  display: inline-block;
}

.card-image .social-network.social-circle li a i {
  line-height: 30px;
  font-size: 1.2em;
}

.card-image .social-network.social-circle li+li {
  margin-left: 5px;
}

.displayhome .tabbable-line>.nav-tabs>li>a {
  font-size: 0.6em;
  font-weight: 400;
}

@media ( max-width : 991px) {
  .item-row .item-card {
    min-height: initial;
  }
  .item-row .item-card .action-wrap {
    position: initial;
  }
}

.dropdown-submenu.open .dropdown-menu {
  position: initial !important;
  width: auto;
  display: block;
  float: none;
  border: 0;
  box-shadow: none !important;
  padding-bottom: 10px;
  border-bottom: 2px solid #EEE !important;
  border-radius: 0;
}

.my-activity header.main-box-header.clearfix {
  color: #000;
  text-align: center;
  min-height: initial;
}

.my-activity header.main-box-header.clearfix h2 {
  margin-bottom: 0
}

.my-activity .flex-col table td:not (:first-child ) {
  width: 30%;
}

.my-activity .flex-col table th {
  height: 60px;
  vertical-align: middle !important;
}

.my-activity .flex-col table td {
  height: 70px;
  vertical-align: middle !important;
}

.stats-event-name {
  margin: 42px auto 0;
  color: #1abc9c;
  font-weight: 400;
}

#login-user .modal-dialog {
  max-width: 320px;
}

.item-image {
  height: 300px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFF;
  text-align: center;
}

.item-image-inner {
  margin: auto;
  content: " ";
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  height: 300px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFF;
}

.carousel-control {
  background: transparent !important;
  width: 30px;
  color: #000;
  font-size: 39px;
}
.simply-scroll, .simply-scroll .simply-scroll-clip {
  width: 100% !important;
}
.project-box-content .value {
  font-size: 1.5em;
  font-weight: 600;
  display: block;
}
#page-wrapper {
  background: #e7ebee;
}
#content-wrapper {
  margin-left: 0;
}
.dropdown > ul {
  color: #000;
  border-radius: 0 !important;
}
.dropdown > ul li .caret {
  border-top-color: #000 !important;
}
@media (max-width: 540px) {
  #header-navbar .nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
#user-profile .list-group-item {
  border-width: 1px;
  border-radius: 0;
}

#user-profile .list-group-item:hover {
  background: #f7f7f7;
}


.curr-bid-number {
  font-weight: bold;
  font-size: 2em;
}
.curr-bid-text {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 14px;
  border-bottom: 1px solid #c6c6c6;
}
.event-desc {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.event-desc p{
  xword-break: break-all;
}
.funds-raised {
  font-weight: bold;
  font-size: 2em;
}
input.form-control[name="itembid"] {
    xxmax-width: 150px;
}
.default-img {
    max-width: 60%;
    margin: auto;
}
.item-name-centered a {
    text-decoration: none !important;
    color: #000;
}

@media (max-width: 820px) {
  #header-navbar .navbar-brand {
    max-width: 180px;
  }
}
@media (max-width: 768px) {
  #header-navbar .navbar-brand {
    max-width: 180px;
  }
}
@media (max-width: 736px) {
  #header-navbar .navbar-brand {
    max-width: 360px;
  }
}
@media (max-width: 668px) {
  #header-navbar .navbar-brand {
    max-width: 350px;
  }
}
@media (max-width: 640px) {
  #header-navbar .navbar-brand {
    max-width: 320px;
  }
}
@media (max-width: 568px) {
  #header-navbar .navbar-brand {
    max-width: 250px;
  }
}
@media (max-width: 420px) {
  #header-navbar .navbar-brand {
    max-width: 235px;
  }
}
@media (max-width: 381px) {
  #header-navbar .navbar-brand {
    max-width: 210px;
  }
}
@media (max-width: 321px) {
  #header-navbar .navbar-brand {
    max-width: 160px;
  }
}
#header-navbar .navbar-brand {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal {
  z-index: 999998 !important;
}

.modal .modal-dialog {
  z-index: 999999 !important;
}

.ticker.big,
.scrollingpage .project-box-content .value {
  font-size: 2em
}

.scrollingpage .project-box-content.ticker-box {
  padding: 12px !important;
}
.scrollingpage .project-box-content {
  padding: 25px;
}
.goal-page {
  margin-bottom: 100px;
}
.goal-row {
  margin-top: 40px;
}
.goal-row .markers {
  overflow: visible !important;;
}
.card .card-content a {
  color: #0044cc;
}

.powered-by-sidebar {
  font-size: 1.3em;
}
.powered-by-sidebar a {
  display: inline-block;
  max-width: 170px;
  vertical-align : bottom;
}
.powered-by-sidebar span {
  vertical-align: bottom;
}

/* ticketing styles */
.txt-sm {
  font-size: 0.8em;
}

.ticket-type-container .sale-card {
  position: relative;
  box-shadow: 0 0 1px 0px #90a4ae;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 21px;
}
.ticket-type-container .sale-card:before {
  content: " ";
  display: inline-block;
  width: 10px;
  background-color: #009ae0;
  z-index: 88;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ticket-type-container .sale-text {
  color: #e84e40;
  margin-bottom: 4px;
}

.ticket-type-container .sale-card select.form-control {
  border-width: 1px;
  border-radius: 0;
}

.ticket-type-container .sale-card .type-cost {
}
.ticket-type-container .sale-card .type-desc {
  margin-right: 88px;
  margin-top: 5px;
}
#buy-event-tickets .status-bar .pull-left {
  font-size: 0.8em;
  color: #4a4a4a;
}
#buy-event-tickets .status-bar .pull-left > span {
  display: inline-block;
  vertical-align: middle;
}
#buy-event-tickets .status-bar .pull-left > span + span {
  margin-left: 100px;
}


.checkout-ticketing .attendee-data {
  display: block;
  xbox-shadow: 0 0 1px 0 #c1c1c1;
  xpadding: 14px 4px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 18px;
}

.checkout-ticketing .custom-attribute {
  margin-bottom: 10px;
}
.checkout-ticketing .custom-attribute label, .checkout-ticketing .stripe-form label {
  display: block;
  margin-top: 8px;
  margin-bottom: 1px;
}
.checkout-ticketing .custom-attribute .form-control {
  margin: 0;
  border-width: 1px !important;
  background-clip: padding-box;
  box-shadow: none;
  font-size: 13px;
  height: 34px;
  padding: 7px 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 0px;
  border-color: #eee;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  border-radius: 0;
}
.checkout-ticketing hr {
  border-top-width: 2px;
}
.checkout-ticketing .attendee-data h4 {
  margin-top: 0px;
  xborder-bottom: 1px solid #eaeaea;
  margin-left: -4px;
  margin-right: -4px;
  padding-bottom: 8px;
}

.box {
  margin: 20px 10px;
}
.box .box-title {
  font-weight: bold;
  font-size: 0.9em;
}
.box .box-content {
  padding: 12px 0;
}
.box .box-content time, .box .box-content address {
  font-size: 0.9em;
  text-align: justify;
  letter-spacing: 1px;
}
.tabs-wrapper .nav-tabs {
  background-color: #c5c5c5;
}
.tabs-wrapper .nav-tabs>li {
  display: inline-block;
  float: none;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  font-weight: 400;
}

@media (max-width: 400px) {
  .nav-tabs>li>a {
    padding: 10px 3px;
  }
}
.tabs-wrapper .nav {
  background-color: #c6d0d6;
  white-space: nowrap;
  xbackground-color: #bfbfbf;
}
.tabs-wrapper .nav li a {
  background-color: #757575;
  color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  xmargin-top: 5px;
  transition: all 0.1s ease-in
}
.tabs-wrapper .nav li a.active {
  background-color: #FFFFFF;
  color: #555;
}
#donationfrom .btn-group .btn {
  margin-left: 9px;
  margin-right: 9px;
}
#donationfrom .btn-group .btn:nth-child(2n+1) {
  xmargin-right: 0;
  margin-right: 0;
}
.item-categories h4 {
  margin-top: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c1c1c1;
}
.item-categories .btn {
  background: #757575;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 1px;
}



#auction .flex-col:first-child {
  flex-basis: 95px;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (min-width: 424px) {
  #auction  .flex-col:first-child {
    flex-basis: 118px;
  }
}
#raffle .flex-col:first-child {
  flex-basis: 125px;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (min-width: 424px) {
  #raffle  .flex-col:first-child {
    flex-basis: 155px;
  }
}
#causeauction .flex-col:first-child {
  flex-basis: 90px;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (min-width: 424px) {
  #causeauction  .flex-col:first-child {
    flex-basis: 150px;
  }
}
.card-action .flex-row {
  margin: 0;
}
.item-canvas {
  margin-bottom: 80px;
}

.item-canvas .loading-items {
  clear: both;
  padding-top: 15px;
}
.search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}
.search-bar input {
  border-width: 1px;
  border-radius: 0;
}

.item-description {
  font-size: 13px;
}
.event-description-display img {
  max-width: 99%;
  height: auto !important;
}
.header-img {
  max-height: 300px;
  overflow: hidden;
}

.action-btns .btn {
  margin-bottom: 17px;
}
.w-50{
  width: 50%;
}